@charset "UTF-8";
/* Основные стили */
* {
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: #1e1e1e;
  font-family: Arial, sans-serif;
  color: #fff;
}

.auth__wrap {
  background: rgba(255, 255, 255, 0.05);
  padding: 40px;
  border-radius: 12px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
  width: 480px;
  text-align: center;
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
}
.auth__title {
  font-size: 24px;
  margin-bottom: 20px;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: bold;
  text-shadow: 0 0 10px rgba(0, 122, 204, 0.8);
}
.auth__toggle {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}
.auth__btn {
  flex: 1;
  padding: 12px;
  background: none;
  border: 1px solid rgba(255, 255, 255, 0.3);
  color: #fff;
  cursor: pointer;
  transition: 0.3s;
  font-size: 14px;
  text-transform: uppercase;
}
.auth__btn:hover, .auth__btn--active {
  background: rgba(255, 255, 255, 0.2);
  border-color: #007acc;
  color: #007acc;
}
.auth__forms {
  position: relative;
  overflow: hidden;
  transition: height 0.3s ease-in-out;
}
.auth__form {
  display: none;
  flex-direction: column;
  gap: 40px;
  padding-top: 25px;
}
.auth__form--active {
  display: flex;
}
.auth__submit {
  width: 100%;
  padding: 12px;
  margin-top: -15px;
  background: #007acc;
  color: #fff;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-size: 16px;
  transition: 0.3s;
  text-transform: uppercase;
}
.auth__submit:hover {
  background: #005f99;
}
.auth__inputs {
  display: block;
  position: relative;
}
.auth__label {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  padding: 14px 0 14px 10px;
  font-weight: 400;
  font-size: 18px;
  color: #fff;
  pointer-events: none;
  transition: 0.3s ease-out;
}
.auth__input {
  pointer-events: auto;
  width: 100%;
  outline: none;
  padding: 12px 10px;
  background-color: #595959;
  border: none;
  border-radius: 10px;
  font-weight: 400;
  font-size: 20px;
  color: #fff;
}

.auth__input:focus + .auth__label,
.auth__input:valid + .auth__label {
  top: -10px;
  left: 3px;
  padding: 0 0 12px 0;
  font-weight: 700;
  font-size: 14px;
  color: #ffffff;
  transform: translateY(-50%) scale(1);
}

.custom-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease, visibility 0.3s ease;
}

/* Основной блок модалки */
.modal-content {
  background: #252526;
  color: white;
  padding: 30px 20px;
  border-radius: 10px;
  width: 25%;
  text-align: center;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  transform: translateY(-20px);
  transition: transform 0.3s ease;
}

.modal__btns {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
}

/* Кнопка */
.modal-btn {
  width: 30%;
  background: coral;
  border: none;
  padding: 10px 20px;
  color: white;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
  margin-top: 15px;
  transition: background 0.2s;
}

.modal-text {
  font-size: 18px;
  font-weight: 700;
  color: #fff;
  margin-bottom: 15px;
}

.modal-btn:hover {
  background: rgb(240, 128, 98);
}

/* Анимация появления */
.custom-modal.show {
  opacity: 1;
  visibility: visible;
}

.custom-modal.show .modal-content {
  transform: translateY(0);
}/*# sourceMappingURL=auth.css.map */